header {
  background-color: #007BFF;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #0056b3;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  margin: 0 15px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}
nav a:hover,
nav a.active {
  background-color: #004095;
  border-radius: 5px;
}
